/* .d-flex{
    display: flex;
    flex-direction: row;
}

.cntnr{
    flex: 1;
    padding: 30px;
    box-shadow: 0px 0px 10px #cccc;
    border-radius: 10px;
    text-align: center;
} */

body{
    margin:0;
    padding:0;
}

.menu{
    display: flex;
    max-width: 300px;
    height: 100vw;
    background-color: rgb(48, 47, 54);
    box-shadow: 5px 0px 5px rgb(139, 138, 138);
}

.menu ul li{
    padding: 5px;
    margin: 5px;
}

.menu ul li a{
    text-decoration: none;
    color:rgb(191, 189, 189);
}

.menu ul li:hover,.menu ul li>*:hover{
    color:white;
    background-color: rgb(116, 116, 116);
}

main{
    display:flex;
    flex-direction:row;
}

.content{
    width:100%;
}

.container{
    margin:5px;
}