body{
    margin:0;
    padding:0;
    overflow: hidden;
}

.header-sec{
    top: 0;
    position: fixed;
    height: 30px;
    background-color: rgb(48, 47, 54);
}

.menu{
    position:fixed;
    left:0;
    display: flex;
    width: 180px;
    height: 100%;
    background-color: rgb(48, 47, 54);
    box-shadow: 5px 0px 5px rgb(139, 138, 138);
}

.menu ul li{
    padding: 5px;
    margin: 5px;
}

.menu ul li a{
    text-decoration: none;
    color:rgb(191, 189, 189);
}

.menu ul li:hover,.menu ul li>*:hover{
    color:white;
    background-color: rgb(116, 116, 116);
}

main{
    display:flex;
    flex-direction:row;
}

.container-fluid{
    position :absolute;
    top:30px;
    left:180px;
    bottom:30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logout{
    margin:5px 5px 0px 0px;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 106, 106);
    border:none;
    outline:1px solid rgb(255, 106, 106);
    transition: all 0.3s ease-in-out;
}

.logout:hover{
    background-color: rgb(255, 106, 106);
    color:white;
    outline:1px solid white;
}


img{
    height: 200px;
    width: 200px;
}

.text h1{
    font-size: 50px;
}

.sub-menu{
    display: none;
}

.sub-menu ul li{
    transform:translateX(-50px);
}

.hover:hover .sub-menu{
    display: block;
}