body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* header section started */
.side-bar-phone-display{
    display: none;
}

.nav-info{
    height: 6vw;
    width: 100vw;
    display: flex;
    text-align: center;
    place-items: center;
    flex-direction: row;
    background-color: antiquewhite;
}

.logo-nav{
    flex-basis: 30vw;
}

.pad-10{
    padding: 10px;
}

header{
    flex-grow: 1;
    flex-shrink: 1;
}

.fa-facebook-f{
    color: blue;
}

.fa-instagram{
    color: rgba(212, 101, 37, 1);
}

.fa-youtube{
    color: red;
}

.fa-linkedin-in{
    color: rgb(69, 69, 226);
}

.fa-twitter{
    color: rgba(50, 168, 189, 1);
}

.fa-brands{
    border-style: solid ;
    border-width: 1px;
    border-color: rgba(94, 90, 90, 0.2);
    width: 20px;
    margin: 5px;
    padding: 2px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.fa-facebook-f:hover{
    color: antiquewhite;
    background-color: blue;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.fa-instagram:hover{
    color: antiquewhite;
    background-color: rgb(204, 57, 89);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.fa-youtube:hover{
    color: antiquewhite;
    background-color: red;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.fa-linkedin-in:hover{
    color: antiquewhite;
    background-color: rgb(5, 14, 150);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.fa-twitter:hover{
    color: antiquewhite;
    background-color: rgba(50, 168, 189, 1);
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.nav-media{
    display: flex;
    text-align: center;
    place-items: center;
    flex-direction: row;
    margin: 5px;
    padding: 2px;
    justify-content: space-evenly;
}

.nav-media a{
    text-decoration: none;
    color: rgba(15, 128, 221, 1);
}

.fa-solid{
    color: rgb(90, 194, 50);
}

.page-logo{
    width: 65px;
}

.nav-contents{
    width: 100vw;
    height: 50px;
    display: flex;
    text-align: center;
    place-items: center;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: space-evenly;
    flex-basis: 70vw;
}

.cross-btn{
    display: none;
}

.nav-content{
    margin-left: 20px;
    text-align: left !important;
    flex-grow: 1;
    flex-shrink: 1;
}

.cross-btn{
    font-size: 20px;
    text-align: right;
    color: rgb(204, 57, 89);
}

.nav-content-inside{
    position: absolute;
    display: none;
}

.nav-media-sm{
    display: none;
}

.address-sm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.address-sm a{
    text-decoration: none;
    color: rgba(15, 128, 221, 1);
}

.social-media-sm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hover{
    text-align: center;
    place-items: center;
}

.hover:hover .nav-content-inside{
    display: block;
}

.nav-content a {
    /* padding: 3px; */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-content a:hover {
    color:  white;
    background-color: rgba(2, 2, 2, 0.2);
    border-radius: 10px;
  
}

.nav-content-inside {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px grey;
    border-radius: 8px;
    border: none;
    outline: none;
}

.nav-content-inside .drop-down-content{
    margin: 5px !important; 
    padding: 5px !important;
}

.drop-down-content:hover{
    background-image: linear-gradient(to right,rgb(201, 88, 88),rgb(95, 95, 233));
}

/* Header section end */

/* Main-Section-Started */

.container-1{
    width: 100vw;
    height: 300px;
    background-color: #59699a;
    margin: 20px 0px 50px 0px;
}


.cntnr-title{
    color: white;
    font-size: 50px;
    text-align: center;
}

.container-2{
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 600px;
}

.building-image{
    margin: 10px 30px 20px 200px;
}

.building-image img{
    border-radius: 10%;
    height: 500px;
    width: 500px;
}

.title-list{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 150px 20px 20px 30px;
}

.title{
    color: green;
    font-size: 60px;
}

 .title-list li{
    font-size: 20px;
 }
/* main-section-end */

/* Footer-Section-Start */

.footer-sections{
    width: 100vw;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    background-color: #1d2057;
}

.footer-section{
    display: flex;
    flex-direction: row;
    padding: 20px 50px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 70px 20px 20px 20px;
}

.footer-logo img{
    width: 80px;
    height: 80px;
    margin: 0px 10px 20px 30px;
}

.footer-text{
    font-size: 17px;
    color: white;
    text-align: justify;
    line-height: 200%;
    font-weight: 700;
}

.quick-links{
    width: 120px;
    display: flex;
    flex-direction: column;
    margin: 70px 20px 20px 20px;
    padding: 20px;
}

.quick-link{
    font-size: 25px;
    color: white;
    font-weight: 200;
    margin-bottom: 20px;
}

.middle-1{
    margin: 10px 0px 10px 0px;
}

.middle-1 *{
    font-size: 20px;
    color: white;
    margin-top: 8px;
    text-decoration: none;
}

.about-us-footer a:hover{
    color: green;
}

.courses-footer a:hover{
    color: green;
}

.gallery-footer a:hover{
    color: green;
}

.contact-footer a:hover{
    color: green;
}

.quick-contacts{
    display: flex;
    flex-direction: column;
    margin: 70px 20px 20px 20px;
    padding: 10px;
}

.quick-contact{
    font-size: 25px;
    color: white;
    font-weight: 200;
    margin-bottom: 20px;
}

.middle-2{
    font-size: 18px;
    color: white;
    padding: 5px;
}

.news-letter-section{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 70px 20px 20px 50px;
}

.news-letter{
    font-size: 25px;
    color: white;
    font-weight: 200;
    margin-bottom: 20px;
}

.email-box-text{
    font-size: 18px;
    color: white;
    padding: 5px;
    text-align: justify;
}

.email-box{
    width: 300px;
    height: 30px;
    margin: 10px 0px 10px 0px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.footer-sections hr{
    width: 80vw;
}

.end-line{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copy-right{
    font-size: 17px;
    color: white;
    text-align: justify;
    margin: 0px 50px 10px 200px;
}

.designer{
    font-size: 17px;
    color: white;
    text-align: justify;
    margin: 0px 10px 0px 200px;
}

.designer a{
    text-decoration: none;
    color: yellowgreen;
}

.designer abbr{
    text-decoration: none;
}

/* footer-section-end */

/* responsiv */

@media (max-width: 600px) {

    /* responsiv-for-header-section */

    .nav-info{
        width: 100%;
        height: 14vw;
        place-items: start;
        flex-direction: row;
        text-align: center;
    }

    .page-logo{
        display: flex;
        flex-direction: row;
        float: left;
        margin: 2px 2px 2px 10px;
        width: 50px;
        height: 50px;
    }

    .logo-nav{
        flex-basis: 10vw;
    }

    .pad-10{
        padding: 5px;
    }

    .nav-media-sm{
        display: block;
    }
    
    .nav-media{
        display: none;
    }

    .fa-regular{
        display: block;
    }

    .fa-brands{
        margin: 0.5px;
        padding: 0.5px;
        border-width: 0.5px;
    }

    .side-bar-phone-display{
        border: 1px solid red;
        padding: 5px;
        margin-bottom: 5px;
        float: right;
        display: block;
        color: red;
        cursor: pointer;
    }

    .nav-contents{
        display: none;
        height: 100vw;
        width: 200px;
        z-index: 999;
        position: relative;
        flex-direction: column;
        flex-basis: 100vw;
        float: right;
    }

    .nav-content-inside{
        transform: translateX(-40vw);
    }

    .drop-down-content{
        max-width: 250px;
        width: 200px;
    }

    .cross-btn{
        display: block;
        cursor: pointer;
    }
}
    
    /* responsiv-for-header-section-end */